* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.ham {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

#burguer {
    animation: 2s rotate360 infinite ease-in-out;
}